{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
Confirm their details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="dwp-quick-reference govuk-!-padding-top-6" aria-label="Case information">
      <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">{{data.selectedPerson.firstName}} {{data.selectedPerson.lastName}}</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">{{data.selectedPerson.nino | formatNino}}</dd>
      </dl>
    </section>

    <h1 class="govuk-heading-l">
      Earnings summary
    </h1>
    <p class="govuk-body">
      Showing data from 
      {% if data.newEarningsStartDate %}
       {{ data.newEarningsStartDate | govukDate }} to {{ "today" | govukDate }}. <a href="earnings-view-change-date">Show other dates.</a> 
      {% else %}
        {{ data.earningsStartDate | govukDate }} to {{ "today" | govukDate }}. <a href="earnings-view-change-date">Show other dates.</a>
      {% endif %}
    </p>
  </div>
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
          <th scope="col" class="govuk-table__header">Earnings type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for record in data.selectedPerson.organisations %}
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">{{record.organisation}}</a></th>
            <td class="govuk-table__cell">{{record.startDate}}</td>
            <td class="govuk-table__cell">{{record.endDate}}</td>
            <td class="govuk-table__cell">{{record.earningType}}</td>
          </tr>
      
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download earnings PDF
    </button>

    <form method="post" class="govuk-!-padding-top-6">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              Is {{data.selectedPerson.firstName}} entitled to {{data.benefit}}?
            </h2>
          </legend>

          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="entitledToBenefit" name="entitledToBenefit" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="entitledToBenefit">
                Yes, continue to trigger alerts when earnings change
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="entitledToBenefit-2" name="entitledToBenefit" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="entitledToBenefit-2">
                No, unset the interest
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>
    </form>

    

  </div>
</div>



{% endblock %}