{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
Search for someone
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/back.njk"%}

    {%if data.error == "true" %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter a valid National Insurance number",
            href: "nino"
          }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Set an interest</span>
      Search for someone
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you do not award this person {{data.benefit}}, you should <a href="stop-request">unset the interest</a>.
      </strong>
    </div>
    
    <form method="post">
      <div class="govuk-form-group {%if data.error == "true" %}govuk-form-group--error" {% endif %}>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="nino">
            Enter a National Insurance number
          </label>
        </h1>
        <p class="govuk-hint">For example, QQ 12 34 56 A</p>
        <p id="passport-issued-error" class="govuk-error-message">
      {%if data.error == "true" %}<span class="govuk-visually-hidden">Error:</span> Enter a valid National Insurance number {% endif %}
    </p>
        <input class="govuk-input  govuk-input--width-10" id="nino" name="nino" type="text">
      </div>
      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Search</button>
      </div>
    </form>

    

  </div>
</div>



{% endblock %}