{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
Interest unse
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Interest unset
          </h1>
        </div>
        <p class="govuk-body">
          The interest has been unset for {{data.selectedPerson.firstName}} {{data.selectedPerson.lastName}} and no further alerts will be generated when earnings change.
        </p>
        {% if data.benefit == "Pension Credit" or data.benefit == "Housing Benefit" %}
        <p class="govuk-body">
          You will need to check Searchlight to see whether {{data.selectedPerson.firstName}} has a partner. You may need to <a href="stop-request" class="govuk-link">
          unset an interest</a> for them too.
        </p>
        
        {% endif %}

        <a href="clear-manage-sessions" class="govuk-button">Finish</a>
      </div>
    </div>
  </main>
</div>


{% endblock %}