{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My teams' %}


{% block pageTitle %}
Transfer a task
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% include '/includes/back' %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <section class="dwp-quick-reference" aria-label="Case information">
          <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">Team name:
            </dt>
            <dd class="dwp-quick-reference__secondary">{{data['teamName'] | capitalize}}</dd>
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Section: </dt>
            <dd class="dwp-quick-reference__primary">Transfer tasks</dd>
          </dl>
        </section>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
          data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation" data-label-show="Show navigation"
          aria-expanded="false">
          <span class="dwp-side-navigation__section-toggle-focus">
            <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
            <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
          </span>
        </button>
        <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
          aria-label="Side" role="navigation">
          <ul class="dwp-side-navigation__list">
            <li class="dwp-side-navigation__item">
              <a id="s-item-1" href="teams-view-team-overview" class="dwp-side-navigation__link">
                Team overview
              </a>
            </li>
            <li class="dwp-side-navigation__item ">
              <a id="s-item-2" href="teams-view-team-summary" class="dwp-side-navigation__link" aria-current="true">
                Team summary
              </a>
            </li>
            <li class="dwp-side-navigation__item">
              <a id="s-item-3" href="teams-view-task-clearance" class="dwp-side-navigation__link">
                Task clearance
              </a>
            </li>
            <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
              <a id="s-item-4" href="teams-view-transfer-task"
                class="dwp-side-navigation__link dwp-side-navigation__link--selected">
                Transfer a task
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Check your answers</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Tasks to transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data.selectedTransferTasks.length > 1 %}
                        {% for item in data.selectedTransferTasks %}
                          {{item}}<br>
                        {% endfor %}
                      {% else %}
                        {{data.selectedTransferTasks}}
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      From
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data.transferFrom}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      To
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data.transferTo}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer
                          reference</span></a>
                    </dd>
                  </div>
                </dl>
                <form method="post">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
                </form>
              </div>

            </div>
          </main>
        </div>
        {% endblock %}