{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My teams' %}


{% block pageTitle %}
Task Clearance
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% include '/includes/back' %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <section class="dwp-quick-reference" aria-label="Case information">
          <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">Team name:</dt>
            <dd class="dwp-quick-reference__secondary">{{data['teamName'] | capitalize}}</dd>
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Section: </dt>
            <dd class="dwp-quick-reference__primary">Team clearance</dd>
          </dl>
        </section>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
          data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation" data-label-show="Show navigation"
          aria-expanded="false">
          <span class="dwp-side-navigation__section-toggle-focus">
            <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
            <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
          </span>
        </button>
        <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
          aria-label="Side" role="navigation">
          <ul class="dwp-side-navigation__list">
            <li class="dwp-side-navigation__item">
              <a id="s-item-1" href="teams-view-team-overview" class="dwp-side-navigation__link">
                Team overview
              </a>
            </li>
            <li class="dwp-side-navigation__item ">
              <a id="s-item-2" href="teams-view-team-summary" class="dwp-side-navigation__link" aria-current="true">
                Team summary
              </a>
            </li>
            <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
              <a id="s-item-3" href="teams-view-task-clearance" class="dwp-side-navigation__link dwp-side-navigation__link--selected">
                Task clearance
              </a>
            </li>
            <li class="dwp-side-navigation__item">
              <a id="s-item-4" href="teams-view-transfer-task" class="dwp-side-navigation__link">
                Transfer tasks
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cleared tasks</h1>
        <p class="govuk-body">Showing data from {{data.teamViewStart | govukDate }} to {{data.teamViewEnd | govukDate }} &nbsp;&nbsp;<a href="teams-view-team">Change</a></p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Cleared</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">{{data.totalClosed}}</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Award change rate</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">26%</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Award unchanged rate</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">74%</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Overpayments</div>
              <div class="card-description">&nbsp;</div>
              {% set overpayment = (data.totalClosed * (1065.24*0.26))*0.72%}
              <div class="card-headline">£{{ overpayment | moneyFormat }}</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Underpayments</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">£{{ ((data.totalClosed * (1065.24*0.26))*0.18) | moneyFormat }}</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
        </div>
        <h2 class="govuk-heading-m govuk-body govuk-!-margin-top-4 govuk-body govuk-!-margin-bottom-1">Overpayment
          details</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Official error</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">£{{ (overpayment * 0.79) | moneyFormat }}</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="card">
              <div class="card-title">Customer error</div>
              <div class="card-description">&nbsp;</div>
              <div class="card-headline">£{{ (overpayment * 0.21) | moneyFormat }}</div>
              <div class="card-context">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
{% endblock %}