{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My teams' %}


{% block pageTitle %}
Which tasks would you like to transfer?
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% include '/includes/back' %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <section class="dwp-quick-reference" aria-label="Case information">
          <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">Team name:
            </dt>
            <dd class="dwp-quick-reference__secondary">{{data['teamName'] | capitalize}}</dd>
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Section: </dt>
            <dd class="dwp-quick-reference__primary">Transfer tasks</dd>
          </dl>
        </section>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
          data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation" data-label-show="Show navigation"
          aria-expanded="false">
          <span class="dwp-side-navigation__section-toggle-focus">
            <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
            <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
          </span>
        </button>
        <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
          aria-label="Side" role="navigation">
          <ul class="dwp-side-navigation__list">
            <li class="dwp-side-navigation__item">
              <a id="s-item-1" href="teams-view-team-overview" class="dwp-side-navigation__link">
                Team overview
              </a>
            </li>
            <li class="dwp-side-navigation__item ">
              <a id="s-item-2" href="teams-view-team-summary" class="dwp-side-navigation__link" aria-current="true">
                Team summary
              </a>
            </li>
            <li class="dwp-side-navigation__item">
              <a id="s-item-3" href="teams-view-task-clearance" class="dwp-side-navigation__link">
                Task clearance
              </a>
            </li>
            <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
              <a id="s-item-4" href="teams-view-transfer-task"
                class="dwp-side-navigation__link dwp-side-navigation__link--selected">
                Transfer tasks
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group {% if data['banner']==" error" %}govuk-form-group--error{%endif%}">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="user">
                    Who would you like to transfer the tasks to?
                  </label>
                </h1>
                <p class="govuk-hint">Search for a staff member</p>
                {% if data['banner']=="error" %}
                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Select a staff member
                </p>
                {% endif %}
                <select class="govuk-select" id="user" name="transferTo" data-module="autocomplete" data-autoselect=""
                  data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
                  <option value="" selected>Select an option</option>

                  {% for person in data['users']%}
                  <option value="{{person.firstName}} {{person.lastName}}">{{person.firstName}} {{person.lastName}} ({{person.email}})</option>
                  {% endfor %}
                </select>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}