{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My teams' %}


{% block pageTitle %}
Transfer a task
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {% include '/includes/back' %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">{{data['teamName'] | capitalize}}</span>
        <h1 class="govuk-heading-l">Confirm transfer</h1>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
          data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation" data-label-show="Show navigation"
          aria-expanded="false">
          <span class="dwp-side-navigation__section-toggle-focus">
            <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
            <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
          </span>
        </button>
        <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
          aria-label="Side" role="navigation">
          <ul class="dwp-side-navigation__list">
            <li class="dwp-side-navigation__item">
              <a id="s-item-1" href="teams-view-team-overview" class="dwp-side-navigation__link">
                Team overview
              </a>
            </li>
            <li class="dwp-side-navigation__item ">
              <a id="s-item-2" href="teams-view-team-summary" class="dwp-side-navigation__link" aria-current="true">
                Team summary
              </a>
            </li>
            <li class="dwp-side-navigation__item">
              <a id="s-item-3" href="teams-view-task-clearance" class="dwp-side-navigation__link">
                Task clearance
              </a>
            </li>
            <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
              <a id="s-item-4" href="teams-view-transfer-task"
                class="dwp-side-navigation__link dwp-side-navigation__link--selected">
                Transfer a task
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="govuk-grid-column-two-thirds">

        
        <form method="post">
          
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Are you sure you want to transfer {{data.transferNINO}} to {{data.transferTo}}?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios ">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="confirmTransfer" name="confirmTransfer" type="radio"
                    value="Yes">
                  <label class="govuk-label govuk-radios__label" for="confirmTransfer">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="confirmTransfer1" name="confirmTransfer" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="confirmTransfer1">
                    No
                  </label>
                </div>

              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}