{% extends "layouts/index.html" %}

{% block pageTitle %}
Dashboard index
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Data dashboards</h1>
        <!--- current iteration -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Current iteration
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="govuk-tag govuk-tag--green">
                    <span>IN DESIGN</span>
                  </span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Designers
                </dt>
                <dd class="govuk-summary-list__value">
                  Mark Keeling
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of design
                </dt>
                <dd class="govuk-summary-list__value">
                  May 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  High-level assumed user needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    <strong>As a</strong> team leader,<br>
                    <strong>I need to</strong> be able to create and manage a team,<br>
                    <strong>So that I</strong> can allocate and monitor work effectively in line with our service level
                    agreement.
                  </p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prototype links
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    <span class="govuk-body-s"><strong>Manage team</strong></span><br>
                    Team level dashboard for team leaders (EO & HEO).<br>
                    <a class="govuk-link"
                      href="/v8/dashboards/teams-my-teams?version=v8&selectedBenefits=CA">Iteration 2</a>
                  </p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design documentation
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="https://lucid.app/lucidspark/730f5900-72d0-4ad2-a4d6-071dd7c9e407/edit?view_items=VM90BV~r8n5N&page=0_0&invitationId=inv_da501740-c8d1-4729-bdcf-a9535cdb3698"
                    target="_blank">Lucid link</a> (opens in a new tab)
                </dd>
              </div>
            </dl>
          </div>
        </div>



        <!--- previous iterations -->

        <div class="govuk-form-group govuk-!-margin-top-9">
          <h2 class="govuk-heading-m ">Design history</h2>
        </div>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
                  style="font-size: 16pt;">
                  June 2026 - Team Leader dashboard
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h3 class="govuk-summary-card__title">
                    June 2026 - Iteration 1
                  </h3>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Status
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-tag govuk-tag--green">
                          <span>DESIGN DONE</span>
                        </span>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Designers
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mark Keeling
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of design
                      </dt>
                      <dd class="govuk-summary-list__value">
                        June 2026
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        High-level assumed user needs
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <strong>As a</strong> team leader,<br>
                          <strong>I need to</strong> be able to create and manage a team,<br>
                          <strong>So that I</strong> I can allocate and monitor work effectively in line with our service level agreement.
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Prototype links
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <span class="govuk-body-s"><strong>Manage team</strong></span><br>
                          Team level dashboard for team leaders (EO & HEO).<br>
                          <a class="govuk-link"
                           href="/v7/tasks/index?version=v7&selectedBenefits=CA">Iteration 1</a>
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Design documentation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="https://lucid.app/lucidspark/730f5900-72d0-4ad2-a4d6-071dd7c9e407/edit?view_items=VM90BV~r8n5N&page=0_0&invitationId=inv_da501740-c8d1-4729-bdcf-a9535cdb3698"
                          target="_blank">Lucid link</a> (opens in a new tab)
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
                  style="font-size: 16pt;">
                  May 2026 - Senior manager dashboard
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h3 class="govuk-summary-card__title">
                    May 2026 - Iteration 3
                  </h3>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Status
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-tag govuk-tag--green">
                          <span>DESIGN DONE</span>
                        </span>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Designers
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mark Keeling & Chris Smith
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of design
                      </dt>
                      <dd class="govuk-summary-list__value">
                        May 2026
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        High-level assumed user needs
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <strong>As a</strong> senior manager,<br>
                          <strong>I need to</strong> access to the timely and accurate data required for my role,<br>
                          <strong>So that I</strong> manage staffing effectively and report outcomes to SCS and above
                          with confidence.
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Prototype links
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <span class="govuk-body-s"><strong>Service data</strong></span><br>
                          Data dashboard for senior managers.<br>
                          <a class="govuk-link"
                            href="/v7/dashboards/service-dashboard?version=v7&selectedBenefits=CA">Iteration 3</a><br>
                          Changes based on data feedback 1 May 2026
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Design documentation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="https://lucid.app/lucidspark/7f58347d-8419-49fb-b4d4-2da732ccaf9c/edit?viewport_loc=-9884%2C-6503%2C70440%2C35147%2C0_0&invitationId=inv_da501740-c8d1-4729-bdcf-a9535cdb3698"
                          target="_blank">Lucid link</a> (opens in a new tab)
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
                  style="font-size: 16pt;">
                  April 2026 - Iteration 2
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    March 2026 - Iteration 1
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Status
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-tag govuk-tag--orange">
                          <span>ITERATION NEEDED</span>
                        </span>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Designers
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mark Keeling & Chris Smith
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of design
                      </dt>
                      <dd class="govuk-summary-list__value">
                        April 2026
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        High-level assumed user needs
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <strong>As a</strong> senior manager,<br>
                          <strong>I need to</strong> access to the timely and accurate data required for my role,<br>
                          <strong>So that I</strong> manage staffing effectively and report outcomes to SCS and above
                          with confidence.
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Prototype links
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <span class="govuk-body-s"><strong>Service data</strong></span><br>
                          Data dashboard for senior managers.<br>
                          <a class="govuk-link"
                            href="/v6/setupData?version=v6&selectedBenefits=CA&selectedView=lastCalendarWeek">Iteration
                            2</a> - combined
                          data<br>
                          Changes based on feedback from UR dated 30 May 2026
                        </p>
                        <p class="govuk-body-s">
                          <span class="govuk-body-s"><strong>Team management</strong></span><br>
                          Data dashboard for team leaders to create team and view team data.<br>
                          <a class="govuk-link" href="/v6/dashboards/teams-my-teams?version=v6">Iteration 1</a><br>
                        </p>
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Design documentation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="https://lucid.app/lucidspark/7f58347d-8419-49fb-b4d4-2da732ccaf9c/edit?viewport_loc=-9884%2C-6503%2C70440%2C35147%2C0_0&invitationId=inv_da501740-c8d1-4729-bdcf-a9535cdb3698"
                          target="_blank">Lucid link</a> (opens in a new tab)
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
                  style="font-size: 16pt;">
                  March 2026 - Iteration 1
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    March 2026 - Iteration 1
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Status
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <span class="govuk-tag govuk-tag--orange">
                          <span>ITERATION NEEDED</span>
                        </span>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Designers
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mark Keeling & Chris Smith
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of design
                      </dt>
                      <dd class="govuk-summary-list__value">
                        March 2026
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        High-level assumed user needs
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <strong>As a</strong> senior manager,<br>
                          <strong>I need to</strong> access to the timely and accurate data required for my role,<br>
                          <strong>So that I</strong> manage staffing effectively and report outcomes to SCS and above
                          with confidence.
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Prototype links
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s">
                          <span class="govuk-body-s"><strong>Service data</strong></span><br>
                          Data dashboard for senior managers.<br>
                          <a class="govuk-link"
                            href="/v5/dashboards/service-data?version=v5&option=1&selectedBenefits=CA">Option 1</a> -
                          combined data<br>
                          <a class="govuk-link"
                            href="/v5/dashboards/service-data?version=v5&option=2&selectedBenefits=CA">Option 2</a> -
                          seperated data<br>
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Design documentation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="https://lucid.app/lucidspark/7f58347d-8419-49fb-b4d4-2da732ccaf9c/edit?viewport_loc=-9884%2C-6503%2C70440%2C35147%2C0_0&invitationId=inv_da501740-c8d1-4729-bdcf-a9535cdb3698"
                          target="_blank">Lucid link</a> (opens in a new tab)
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p>Some pre-March 2026 designs may be recorded in the <a href="/indexs/historic">design archive</a></p>
      </div>
    </div>
  </main>
</div>
{% endblock %}