{% extends "layouts/index.html" %}

{% block pageTitle %}
Dashboard index
{% endblock %}
 
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Set and view an interest</h1>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Current iteration
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="govuk-tag govuk-tag--green">
                    <span>IN DESIGN</span>
                  </span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Designers
                </dt>
                <dd class="govuk-summary-list__value">
                  Mark Keeling
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of design
                </dt>
                <dd class="govuk-summary-list__value">
                  August 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                
                <dt class="govuk-summary-list__key">
                  Design objectives
                </dt>
                <dd class="govuk-summary-list__value">
                  <ol class="govuk-list govuk-list--number govuk-body-s">
                    <li>Iterate to the latest patterns and components</li>
                    <li>Address pain points identified during user research, particularly regarding date entry</li>
                    <li>Give BAU agents a better knowledge of the impact of their actions</li>
                    <li>Allow agents to unset an interest</li>
                  </ol>
            
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prototype links
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    <span class="govuk-body-s"><strong>Interest management hub</strong></span><br>
                    <a class="govuk-link"
                      href="/v8/manage-interest/ur">Scenario selection for User Research</a>                   
                  </p>
                  
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design documentation
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="https://lucid.app/lucidspark/6c82858d-5ac8-430b-b78d-d377071b1bae/edit?viewport_loc=1294%2C-5869%2C5760%2C2874%2C0_0&invitationId=inv_a2d58ff3-24fb-44a3-975e-53a3c63a34ae"
                    target="_blank">Lucid link</a> (opens in a new tab)
                </dd>
              </div>
            </dl>
          </div>
        </div>

         <!--- previous iterations -->

        <div class="govuk-form-group govuk-!-margin-top-9">
          <h2 class="govuk-heading-m ">Design history</h2>
        </div>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
                  style="font-size: 16pt;">
                  April 2026 - Investigate terminology and unset interest journey
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
                              <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Iteration 1
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="govuk-tag govuk-tag--yellow">
                    <span>RESEARCH COMPLETE</span>
                  </span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Designers
                </dt>
                <dd class="govuk-summary-list__value">
                  Mark Keeling & Chris Smith
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of design
                </dt>
                <dd class="govuk-summary-list__value">
                  April 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  High-level assumed user needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    <strong>As a</strong> benefit agent,<br>
                    <strong>I need to</strong> be able to unset an interest, when an award is not given<br>
                    <strong>So that I</strong> ensure unneccesary alerts are not generated
                  </p>
                  <p class="govuk-body-s">
                    <strong>As a</strong> VEP agent,<br>
                    <strong>I need to</strong> be able to unset an interest, when an award is no longer active<br>
                    <strong>So that I</strong> ensure unneccesary alerts are not generated
                  </p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prototype links
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body-s">
                    <span class="govuk-body-s"><strong>Interest management hub</strong></span><br>
                    <a class="govuk-link"
                      href="/ur">Scenario selection for User Research</a>                   
                  </p>
                  
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design documentation
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="https://lucid.app/lucidspark/510a127d-0129-4b04-8455-c11be8f6f361/edit?view_items=Fj3S0ZFJ0bSq&page=0_0&invitationId=inv_53af3d14-dcd3-44bb-8f2b-43ddb691a204"
                    target="_blank">Lucid link</a> (opens in a new tab)
                </dd>
              </div>
            </dl>
          </div>
        </div>
            </div>
          </div>
        </div>

        
        <p>Some pre-March 2026 designs may be recorded in the <a
              href="/indexs/historic">design archive</a></p>
      </div>
    </div>
  </main>
</div>
{% endblock %}